.wrapper {
    min-width: 1100px;
    margin: 0 auto;

}

.header {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 24px;
    
}

.nav-item {
    margin-right: 52px;
    
}

.nav-link {
    color: #fff;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    
}