.wrapper {
    min-width: 1100px;
    margin: 0 auto;

}

footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
}

.footer-copyright {
    color: #fff;
}

footer img {
    width: 70px
}
